<section class="about-index">

  <header class="page-header">
    <h1>About Index</h1>
  </header>

  <h2> 
  Jungle APP is designed for people who are looking for special products
  which are rarely to explore in the regular market. If you are this kind of people, then 
  Jungle is your must-go place to shop. 
  <br>
  <br>
  Enjoy visiting. 
   </h2>

</section>